{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
           <a href="{% url 'post-list' %}" class="btn btn-light">Back to Feed</a>
        </div>
    </div>
    {% for profile in profile_list %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom position-relative">
                <div>
                    <a href="{% url 'profile' profile.pk %}">
                        <img class="rounded-circle post-img" height="30" width="30" 
                        src="{{ profile.picture.url }}" alt="profile picture">
                    </a>
                    <p class="post-text">
                        <a href="{% url 'profile' profile.pk %}" 
                        class="text-primary post-link">@{{ profile.user }}</a>
                    </p>
                </div>
                {% if profile.location %}
                    <p>{{ profile.location }}</p>
                {% endif %}
                <p>Followers:{{ profile.followers.all.count }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}